{
    "_comment": "SNIPER ULTRA — Credentials",
    "login": 12345678,
    "password": "ganti_dengan_password_exness",
    "server": "Exness-MT5Trial14",
    "telegram_bot_token": "ganti_dengan_token_bot_dari_BotFather",
    "telegram_chat_id": "ganti_dengan_chat_id_lo"
}
